.recipe {
    position: relative;
    width: 500px;
    border-radius: 5px;
    display: flex;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;;
    cursor: pointer;
    transition: 0.1s ease-in
}

.recipe:hover {
    transform: scale(1.025)
}

.expand {
    flex: 0.5;
    // position: absolute;
    // left: 15px;
    // top: 40px;
    // height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: 0.25s
}


.title {
    flex: 2;
    // position: absolute;
    // left: 170px;
    // top: 37.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align:center;
    padding: 10px;
    font-size: 1.25rem;
}

.image {
    flex: 1;
    // position: absolute;
    height: 100px;
    width: 100px;
    right: 0;
    top: 0;
    border-radius: 5px;
    // height: 100%;
    transition: 0.25s
}
